* {
    box-sizing: border-box;
    margin: 0;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 15px; 
}

.address,
.fb,
.menu-list {
    display: none;
}


.header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
}

.header-top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.5);
    margin: 0 -15px;
    padding: 0 15px;
}
.logo-box {
    display: flex;
}

.lang {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.lang a {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 7px;
    border-radius: 8px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    text-decoration: none;
    display: block;
}

.lang a:not(.active):hover {
    background: #F5F5FA;
}
.lang .active {
    background: #F0145A;
    color: #FFF;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumbs::before {
    content: '';
    background-image: url('../img/slash.svg');
    width: 12px;
    height: 26px;
    background-size: cover;
}

@media (min-width: 768px) {
    .address,
    .fb,
    .menu-list {
        display: block;
    }
    
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
    }
    .header-top {
        justify-content: flex-start;
    }
    .mobile-menu-btn {
        display: none;
    }
    .menu-list {
        display: flex;
    }
    .logo img{
        width: 130px;
        height: 60px;
    }
    .breadcrumbs::before {
        width: 21px;
        height: 47px;
    }
    
}
@media (min-width: 992px) {

    .header { 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
    }

    .header-top {
        grid-column: 2 / 3;
        grid-row: 1 /2;
        justify-content: flex-end;
    }
    .logo-box {
        grid-row: 1 / -1;
        align-items: center;
    }
    .menu-list {
        justify-content: flex-end;
    }
}